<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>live2d2</id>
<name>看板娘-伊斯特瓦尔</name>
<url>//jq.qq.com/?_wv=1027&amp;k=555hND5</url>
<note>Live2D看板娘</note>
<description>置百丈玄冰而崩裂，掷须臾池水而漂摇。</description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>沉冰浮水</name>
  <email>wdssmq@qq.com</email>
  <url>https://www.wdssmq.com</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>151626</adapted>
<version>1.0.1</version>
<pubdate>2018-09-15</pubdate>
<modified>2023-06-24</modified>
<price>0</price>
<phpver>5.6</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions></existsfunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
  <sidebar6></sidebar6>
  <sidebar7></sidebar7>
  <sidebar8></sidebar8>
  <sidebar9></sidebar9>
</sidebars>
</plugin>
